@model Student;

<h1>Delete Student</h1>

<table class="table table-dark">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>@Model.Course</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Admission Date</th>
        <td>@Model.AdmissionDate</td>
    </tr>
    <tr>
        <th>GPA</th>
        <td>@Model.GPA</td>
    </tr>
</table>
<button data-bs-toggle="modal" data-bs-target="#remove" type="button" class="btn btn-danger">Remove</button>
<button onclick="history.back()" class="btn btn-secondary"> Cancel </button>



<div class="modal fade" id="remove" data-bs-backdrop="static" data-bs-keyboard="false" tabindex"-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
    <div class="modal-header">
         <h1 class="modal-title fs-5"> Warning!</h1>
    </div>
    <div class="modal-body text-light">
        Are you sure to delete this Student?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form asp-action="Delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
</div>
</div>

